@import 'base.scss';

@media all and (max-width:$media-header){
  h1,.h1{
    font-size: 50px;
  }

  .about__items{
    flex-direction: column;
  }

  .section__wrap{
    padding: $margin-sm*5 0 $margin-sm*4;
  }

  .projects__search-content .card__items{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
  }

  .about__item:nth-child(2){
    padding-top:$margin-sm;
  }

  .skills__list,.projects__list{
    flex-wrap:wrap;
  }

  .questions__wrap{
    flex-direction: column;
  }

  .questions .questions__wrap .questions__elem{
    width:100%;
  }

  .questions .shadow{
    right:auto;
  }

  .projects__list{
    width: 100%;
    max-width: 100%;
  }

  .section__description h5 {
    max-width: 500px;
  }

  .decoration{
    display:none !important;
  }

  .section .section__wrap{
    width:84%;
  }

  .projects__list-item{
    width: 100%;
    flex: 1 1 100%;
    margin: $margin-sm;
    max-width: 100%;
  }

  .form{
    max-width: 500px;
  }
}